<ion-header [translucent]="true">
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button title="" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Pick up calls</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <app-pickup-call-card
        [hasHeader]="true"
        [hasFooter]="true"
        status="hold"
        updatedAt="25/04/2024"
        createdAt="24/04/2021"
        notes="We have tree bags that are full, one with plastic and the other with glasses"
    ></app-pickup-call-card>
    <app-pickup-call-card
        [hasHeader]="false"
        [hasFooter]="true"
        status="processing"
        updatedAt="24/04/2024"
        created="23/04/2024"
        notes="We have two bags that are full, one with plastic and the other with glasses"
    ></app-pickup-call-card>
    <app-pickup-call-card
        [hasHeader]="false"
        [hasFooter]="true"
        status="completed"
        updatedAt="14/04/2024"
        created="13/04/2024"
        notes="We have two bags that are full, one with plastic and the other with glasses"
        amount="100"
    ></app-pickup-call-card>
</ion-content>
