<ion-content [fullscreen]="true">
    <div class="flex-center">
        <ion-card>
            <ion-card-header>
                <ion-card-title color="success">Recicle</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-input label="Email" labelPlacement="floating" placeholder="Enter email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                        label="Password"
                        type="password"
                        labelPlacement="floating"
                        placeholder="Enter Password"
                    ></ion-input>
                </ion-item>
                <ion-button color="dark" fill="clear" size="full">Forgot password?</ion-button>
                <ion-button
                    color="success"
                    expand="block"
                    routerLink="/home"
                    size="full"
                >Login</ion-button>
                <ion-button
                    color="success"
                    expand="block"
                    routerLink="/home"
                    size="full"
                    fill="clear"
                >Register</ion-button>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
